<!-- Added padding-bottom: 0px;
No gap between social icons and words in footer. However, maintain top padding because it's in homepage. -->
<div class="social-icons" style="padding-bottom: 0px;">
    {{- range . }}
    <!-- Added style="border-bottom: none;" to disable underline below social icon -->
    <a style="border-bottom: none;" href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me" title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
